@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #333;
    --color-light: #f8f9fa;
    --color-dark: #000;
    --font-primary: "Roboto Condensed", sans-serif;

    --space-small: 1.2rem;
    --space-medium: 1.6rem;
    --space-large: 2rem;
    --space-xl: 2.4rem;

    --header-font: 3.6rem;
    --subheader-font: 3.2rem;
    --medium-font: 2.4rem;
    --font-size: 1.6rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    font-size: var(--font-size);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--space-medium);
    background-color: var(--color-dark);
    color: var(--color-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}

.hero-logo {
    font-size: var(--medium-font);
    font-weight: 500;
}

.nav-links {
    display: flex;
    gap: var(--space-medium);

}

.nav-a {
    color: var(--color-light);
    text-decoration: none;
    transition: all 0.3s ease-in;

}

.nav-a:hover {
    color: var(--primary-color);
    transform: scale(1.2);
    display: block;

}

.header-control {
    background-color: var(--color-light);
}

.menu_toggle {
    display: none;
}